global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend clickhouse_proxy
    bind *:${PORT}
    default_backend clickhouse_backend

backend clickhouse_backend
    server clickhouse ${CLICKHOUSE_HOST}:${CLICKHOUSE_PORT}